<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection" />
	<script src="/scripts/jquery.js"></script>
	<script>
		// footer:
		$(function () {
			if($('.x-footer') != null){
				$('.x-footer').append('<hr><div style="text-align:center"><p>友情链接: <a href="http://www.shi-ci.com" target="_blank">中华诗词</a></p></div>');
			}
			
			if($('#footer-year') != null){
				$('#footer-year').text((new Date).getFullYear());
			}
		});
	</script>
</head>
	<body>

　　　　{{ content }}

	</body>
</html>